@using BlazorApp_4.Server
@inject HttpClient client
@inject IJSRuntime js
@inject NavigationManager uriHelper
@using Microsoft.Extensions.Logging;
@inject ILogger<Counter> logger;

<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop">
    <User UserID="@(Usage.Assigneduserid.HasValue ? Usage.Assigneduserid.Value : 0)"></User>
</td>
<td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--verticalAlignTop">
    @(Usage.Starttime.HasValue ? Usage.Starttime.Value.ToString("dd MMM yyyy") : "n/a")
</td>


@code {
    string username;
    [Parameter] public int DeviceID { get; set;}
    TblDeviceUsage Usage = new TblDeviceUsage();
    protected async override Task OnParametersSetAsync()
    {
        if (DeviceID > 0) {
           Usage = await client.GetFromJsonAsync<TblDeviceUsage>($"/deviceusage/{DeviceID}");
            
            //username = await client.GetFromJsonAsync<string>($"/user/{Usage.Assigneduserid}");
        }
    }
}
