@using BlazorApp_4.Server
@inject HttpClient client
@inject IJSRuntime js
<div class="Polaris-Page-Header__PrimaryActionWrapper">
    <div class="Polaris-Labelled__LabelWrapper">
        <div class="Polaris-Label">
            <label class="Polaris-Label__Text">Assign to</label>
        </div>
    </div>
    <div class="Polaris-Select">
        @if (users != null && users.Length > 0) {
            <select class="Polaris-Select__Input">
                @foreach (var item in users)
                {
                    if (UserID > 0 && item.UserId == UserID)
                    {
                        selected = "selected";
                    }
                    <option value="@item.UserId" bind="@selected">@item.Username</option>
                }
            </select>
        }
      
        <div class="Polaris-Select__Content" aria-hidden="true">
            <span class="Polaris-Select__SelectedOption">@(UserID > 0 ? users.SingleOrDefault(u => u.UserId == UserID).Username : users != null && users.Length > 0 ? users.FirstOrDefault().Username : "")</span>
            <span class="Polaris-Select__Icon">
                <span class="Polaris-Icon">
                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                        <path d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z" fill-rule="evenodd"></path>
                    </svg>
                </span>
            </span>
        </div>
        <div class="Polaris-Select__Backdrop"></div>
    </div>

</div>

@code {
    string selected = "";
    [Parameter] public int UserID { get; set; }
    public TblUsers[] users;
    protected async override Task OnParametersSetAsync() {
        users = await client.GetFromJsonAsync<TblUsers[]>("user");
    }
}
